language: cpp

sudo: required

services:
- docker

python:
  - "3.5"

env:
  matrix:
    - MPI=OFF DOCS=true
    - MPI=ON DOCKERHUB=true
    - MPI=ON COVERAGE=ON SONARQUBE=ON

script:
  - set -e
  - cp -vr docker ${HOME}/docker
  - cd ../../
  - mv -v ${TRAVIS_REPO_SLUG} $HOME/docker
  - docker build --build-arg MPI=${MPI}
                 --build-arg SONARQUBE=${SONARQUBE} --build-arg SONARQUBE_TOKEN=${SONARQUBE_TOKEN}
                 --build-arg SONARQUBE_GITHUB_TOKEN=${SONARQUBE_GITHUB_TOKEN}
                 --build-arg CI=${CI} --build-arg TRAVIS=${TRAVIS} --build-arg TRAVIS_OS_NAME=${TRAVIS_OS_NAME}
                 --build-arg TRAVIS_BRANCH=${TRAVIS_BRANCH} --build-arg TRAVIS_JOB_NUMBER=${TRAVIS_JOB_NUMBER}
                 --build-arg TRAVIS_PULL_REQUEST=${TRAVIS_PULL_REQUEST} --build-arg TRAVIS_JOB_ID=${TRAVIS_JOB_ID}
                 --build-arg TRAVIS_TAG=${TRAVIS_TAG} --build-arg TRAVIS_REPO_SLUG=${TRAVIS_REPO_SLUG}
                 --build-arg TRAVIS_COMMIT=${TRAVIS_COMMIT} --build-arg COVERAGE=${COVERAGE}
                 --build-arg DOCS=${DOCS}
                 -t ${TRAVIS_REPO_SLUG}:latest ${HOME}/docker/

after_success:
  - if [[ ${DOCKERHUB} = true && ${DOCKER_USERNAME} && ${DOCKER_PASSWORD} && ${TRAVIS_PULL_REQUEST} == false && ${TRAVIS_BRANCH} == master ]]; then
      docker login -u="$DOCKER_USERNAME" -p="$DOCKER_PASSWORD";
      docker push "${TRAVIS_REPO_SLUG}:latest";
    fi
#  - if [[ ${DOCS} ]]; then
  - cd ${HOME}/docker/portage; mkdir built-docs
    CON=$(docker run -d ${TRAVIS_REPO_SLUG}:latest) && docker cp ${CON}:/home/portage/portage/build/doc ./built-docs ;
    pip3 install doctr;
    doctr deploy --no-require-master . --built-docs built-docs/doxygen/html;
#    fi

env:
  global:
    - secure: "WEd3rDHOotVYHgyb90sQ/wrtY8h3xba99+5XYAz5Xd/R74dAfP0Tk0VmOq1SKanLtLSeo1EGRA/UiGvStge2cE8UL7y0MLuzfGvp8VTZDuqWJSyLehDiuXI3Jz8kmHMJzsBCbgMFrqqOGCyv8rLGE0Ydg/+AJiBgqZVbJ0SO+K7a4F0e6bcRaTZlLcCa/dNh3g66DwjRbHkrtV94zPzysN4rTgxwxtkgfcpaBtg3SF3JeDq8yNgtH+OcqKMNRWqMYfjjotHEqALWuQUuAvFiOxjDJCkxjTr2Tr7ybHtPi+ACEq0aqWHjGmbZgwyJucYaIiTMVkDiso4E7IjaOPWlmLkyh9o8l6XyCtpMXxs7ytRPxskYxhJrxF8jBwmQaztz+SzNld220oyJEBlxGeAHRxvYHcFTo+Ghm7WiXCQ0iC65y3g+oyHERVUKP3wH2xuvzMPv6/Re3iTFTXN/uOh/Scz0F1tcdVjtnvwI/JhtBBMWDFbydQNXln/r4rKeEHXp+7o9D5QekR7rna0Y+DfB+Mt7oum//yBDP9KhAPfI9cbCSEyN6akHFl0XqZlaQhUzEquhFl/EqxQiSVJJ1BCv7sFfWaswzzbWHC4K7OzWqIJKKWrq/bFqtTxXBzy3oUB1AobIszHeAphEP/U34Y6qTskUnG8w8uh4s6FVAhzX5jY="
